html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

::-webkit-scrollbar-thumb:horizontal{
  background: #000;
}
::-webkit-scrollbar {
  height: 0px;              
  width: 4px;               
  border: 1px solid #d5d5d5;
  border: 1px solid #100024;
  border-radius: 20px;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

h1 {
  color: #fff;
  align-self: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  display: unset;

  @media screen and (min-width: 768px){
    font-size: 64px;
    line-height: 45px;
    font-weight: 400;
  }
}

h2 {
  align-self: center;
  font-size: 27px;
  font-weight: 600;
  text-align: left;
  display: block;

  @media screen and (min-width: 768px){
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
    text-align: center;
  }
}

h6 {
  font-size: 18px;
  font-weight: 500;

  @media screen and (min-width: 768px){
    font-size: 22px;
  }

}

.mobile {

  @media screen and (min-width: 768px){
    display: none;
  }
}

.desktop {
  display: none;
  @media screen and (min-width: 768px){
    display: unset;
  }
}

// @media screen and (min-width: 768px){

// }

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  z-index: 3;
  padding-top: 30px;

  @media screen and (min-width: 768px){
    width: 100%;
    padding: 10px 25px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255);

  }


  // .nav-logo {
  // }

  .logo {
    color: #000;
    background-color: #000;
    
  }

  .nav-host {
    display: flex;
    align-items: center;
    justify-content: center;

    .superhost {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 30px;
      border: 1px solid gray;
      padding: 0 20px;
      background-color: #fff;
      height: 44px;
      margin-right: 45px;
      box-shadow: 0 3px 2px rgba(63, 63, 63, 0.139);
      transition: all .3s ease;

      p {
        // line-height: 0%;
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 2px;
        min-width: max-content;
      }

      .avatars {
        padding: 0px;
        box-sizing: border-box;
        display: flex;

        @media screen and (min-width: 768px){
          padding: 10px;
        }
        

        img {
          width: 0px;
          border-radius: 50%;
          // transform: translateX(15px);
          padding: 0;
          // margin: 0 unset;
          display: none;
          margin: 0;

          @media screen and (min-width: 768px){
            display: block;
            width: 30px;
            margin: 0 0 0 -10px;
            height: 30px;
          }
         
        }
        
      }

      &:hover {
        box-shadow: 0 5px 15px rgba(63, 63, 63, 0.139);
      }

      @media screen and (min-width: 768px){
        width: 220px;
        padding: 5px 15px 3px 7px;
       
      }
    
    }

    a {
      padding: 12px 20px;
      color: #fff;
      border-radius: 10px;
      align-self: center;
      font-weight: 600;
      font-size: 16px;
      background: rgb(249,62,98);
      width: unset;
    }
}
}

// HERO SECTION STYLING
.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;

  
  .heroLeft {
    
    position: fixed;
    background-color: #fff;
    // height: 100px;
    width: 100%;
    padding: 25px 15px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.17);
    z-index: 2;



    .logo {
      position: absolute;
      top: 50px;
      left: 50px;
      display: none;

      @media screen and (min-width: 768px){
        display: block;

      }
    }

    h1 {
      display: none;
    }

    a {
      // background-color: #FF385C;
      padding: 12px 20px;
      color: #fff;
      border-radius: 10px;
      align-self: center;
      font-weight: 600;
      font-size: 16px;
      background: rgb(249,62,98);
      width: 100%;
      text-align: center;
    }

    @media screen and (min-width: 768px){
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: #000;
      padding: 75px;
      height: 100%;
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0);


      h1 {
        color: #fff;
        align-self: center;
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        text-align: center;
        display: unset;
      }
  
      a {
        padding: 12px 20px;
        color: #fff;
        border-radius: 10px;
        align-self: center;
        font-weight: 600;
        font-size: 16px;
        background: rgb(249,62,98);
        width: unset;
      }
    }
  
  }

  .heroRight {
    background-color: #FF385C;
    height: 300px;
    width: 100%;
    background: url("/heroimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 768px){
    flex-direction: row;
    height: 75vh;
    align-items: stretch;

    .heroLeft {
      width: 50%;
    }
    .heroRight {
      background-color: #FF385C;
      height: 100%;
      width: 50%;
    }
 
  
}

}


// 'WHAT YOU COULD EARN' SECTION STYLING
.earn {
  width: 100%;
  padding: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  transform: translateY(-25px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  a {
    text-decoration: underline;
  }

  h1 {
    color: #000;
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    width: 70%;
    text-align: left;
    align-self: flex-start;
  }

  h2{
    text-align: left;
    // background-color: red;
    padding: 30px 0 0 0;
    // width: 40%;
  }

  @media screen and (min-width: 768px){
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
    text-align: center;

    h1 {
      // color: #000;
      // font-size: 40px;
      // line-height: 45px;
      // font-weight: 600;
      width: 70%;
      text-align: center;
      align-self: center;
    }
  
    h2{
      text-align: center;
      // background-color: red;
      padding: 30px 0 0 0;
      width: 40%;
    }

  }

  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 4px;
    

    div {
      box-sizing: border-box;
      padding: 15px;
      background-color: #F7F7F7;
      width: 49%;
      // margin: 4px;
      border-radius: 15px;
      // flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 14px;
        color: rgb(93, 93, 93);
        padding: 0;
        margin: 0;
      }

      span {
        font-size: 16px;
        color: rgb(26, 26, 26);
        font-weight: 500;
        padding: 0;
        margin: 0;



        .figures {
          font-size: 24px;
        }
      }
    }
    
    .monthly {
      width: 100%;
      // flex: 2;

      span {
        font-size: 23px;
        color: rgb(26, 26, 26);
        font-weight: 500;
        color: rgb(249,62,98);

        .figures {
          font-size: 30px;
        }
      }
    }

    @media screen and (min-width: 768px){
      justify-content: center;
      flex-wrap: nowrap;

      div {
        width: 25%;
        margin:  0 10px;
        padding: 16px 20px;

        p {
          margin: 0 0 15px 0;
          padding: 0;
          line-height: 100%;
          font-weight: 400;
        }

        span {
          font-size: 18px;
          color: rgb(26, 26, 26);
          font-weight: 500;
          padding: 0;
          margin: 0;
          line-height: 100%;
  
  
  
          .figures {
            font-size: 35px;
            
          }
        }
      }

      .monthly {
        width: 25%;

        span {
          font-size: 18px;
          color: rgb(249,62,98);
          font-weight: 500;
          padding: 0;
          margin: 0;
  
  
  
          .figures {
            font-size: 35px;
          }
        }
      }
    }

  }

  @media screen and (min-width: 768px){
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transform: translateY(0px);
    align-items: center;

  }
}

// TESTIMONIALS SECTION STYLING

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 100px;


  h2 {
    margin-bottom: 30px;
    text-align: left;
    align-self: flex-start;
    padding-left: 20px;
    // width: 100%;
    // background-color: red;
  }

  .t-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    max-width: 100%;
    // background-color: red;
    scroll-snap-type: x mandatory;

    

    .t-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      box-sizing: border-box;
      padding-left: 20px;
      scroll-snap-align: start;
      

      .larger-text {
        font-size: 23px;
        width: 80%;
      }

      &:nth-of-type(1){
        display: none;
        
        @media screen and (min-width: 768px){
          // opacity: 0;
          display: flex;
        }
      }

      &:last-child{
        display: none;

        @media screen and (min-width: 768px){
          display: flex;
          opacity: 0;
        }
      }

      img {
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.177);
        margin-bottom: 20px;
      }

      div {
        opacity: 0;
        transition: all .5s ease .3s;
      }

      @media screen and (min-width: 768px){
        padding-left: 15px;
        width: 30%;
        img {
          width: 90%;
          
        }
      }
    }

    .i-card {
      div {
        opacity: 1;
      }
    }
  }

  .button-grp {
    position: absolute;
    bottom: 40px;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      height: 45px;
      width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-weight: 600;
      margin-left: 20px;

      border: none;
      outline: none;
    }

    
    @media screen and (min-width: 768px){
      right: 100px;
    }
  }

  @media screen and (min-width: 768px){

    h2{
      text-align: center;
      // background-color: red;
      padding: 30px 0 0 0;
      width: 40%;
      align-self: center;
    }

  }
}

// BANNER SECTIONS STYLING

.banner-container {
  width: 100%;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 0px;

}

.ukr-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FF385C;
  padding: 80px 30px;
  border-radius: 10px;
  margin-bottom: 80px;

  h2 {
    text-align: center;
    color: #fff;
    padding: 10px 0 20px 0;
    margin: 0;
    line-height: 120%;
    text-align: center;
    width: 90%;
  }
  a {
      padding: 12px 20px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;
      align-self: center;
      font-weight: 600;
      font-size: 16px;
      width: unset;
  }

  @media screen and (min-width: 768px){
    padding: 140px;

  }
}

.sec-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 240px 40px 80px;
  border-radius: 10px;
  margin-bottom: 0;
  width: 100%;

  h2 {
    text-align: center;
    color: #fff;
    padding: 10px 0 20px 0;
    margin: 0;
    line-height: 120%;
    text-align: center;
    width: 85%;
    margin-bottom: 20px;
  

   
  }
  a {
      padding: 18px 50px;
      color: #000;
      border: 1px solid rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      align-self: center;
      font-weight: 600;
      font-size: 16px;
      width: unset;
      line-height: 100%;
  }

  @media screen and (min-width: 768px){
    padding: 180px;

  }
  background: url("/assets/secbanner.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // background-color: #000;
}

.third-banner {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  position: relative;

  padding-top: 40px;

  .t-b-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px){
     display: none;
    }
  }

  .t-b-details{
    h2 {
      text-align: left;
      padding-bottom: 30px;
      // background-color: red;
    }

    a {
      margin-top: 25px;
    }
  }

  h1 {
    color: #000;
    font-size: 60px;
    line-height: 60%;
    margin: 0;
    padding: 0;
    font-weight: 700;

    span {
      color: rgb(249,62,98);
    }

    @media screen and (min-width: 768px){
      color: #000;
      font-size: 80px;
      line-height: 60%;
      margin: 0;
      padding: 0;
      font-weight: 700;

      span {
        color: rgb(249,62,98);
      }
    }
  }

  p {
    font-size: 24px;
  }

  img {
    width: 95%;
    align-self: flex-end;

    // @media screen and (min-width: 768px){
    //   position: absolute;
    //   left: 0;
    // }
  }
  @media screen and (min-width: 768px){
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 70px 0 70px 70px;

    img {
      width: 36%;
    }
  }
}

.third{
  margin-bottom: 200px;

  a {
    padding: 18px 50px;
    color: #000;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-self: center;
    font-weight: 600;
    font-size: 16px;
    width: unset;
    line-height: 100%;
    margin-top: 25px;
}


  h2 {
    // margin-bottom: 25px;
    padding-bottom: 30px;
    // background-color: red;
  }
}
